/* Estilos por defecto para el cuerpo y HTML */
body, html {
    margin: 0;
    padding: 0;
}

/* Importación de la fuente de Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

/* Estilos para el nav fijo */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #e1283a;
    display: flex;
    z-index: 1000; /* Asegura que el nav esté por encima de otros elementos */
    justify-content: center;
}

ul {
    display: flex;
    align-items: start;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    padding: 6px 0;
}

ul li a {
    --fill-color: #FFFFFF;
    position: relative;
    display: block;
    padding: 4px 30px;
    font: 700 1.5rem 'Raleway', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-text-stroke: 2px var(--fill-color);
    background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
    color: transparent;
    background-clip: text;
    transition: 0.5s linear;
}

ul li a:hover {
    background-size: 100%;
}

/* Ajuste del contenido principal para evitar que se superponga con el nav */
body {
    margin-top: 40px; /* Ajusta el margen superior para que el contenido no se superponga con el nav */
}

/* Estilos para la sección BOX-MAIN */
#BOX-MAIN {
    width: 100%;
    height: 100vh;
    background:linear-gradient(30deg, #1f51a4, #eb7339, #e1283a);
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; 
}

#FONDO {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#TEXTO {
    margin: 15%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center; /* Centrar el texto horizontalmente */
    color: white; /* Color del texto blanco para contraste */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Difuminado blanco alrededor del texto */
}

#TEXTO h1 {
    font-size: 80px; /* Tamaño grande para el título */
    margin-bottom: 10px; /* Espacio entre el título y el eslogan */
}

#TEXTO h2 {
    font-size: 24px; /* Tamaño más pequeño para el eslogan */
}

@media only screen and (max-width: 768px) {
    /* Estilos específicos para dispositivos móviles */
    #FONDO {
        width: 90%;
    }
}


#INFO h1{
    padding: 50px;
    color: white;
}

#INFO {
    background: linear-gradient(150deg, #1f51a4, #1a4282, #042151);
    text-align: center;
    margin-top: -1px;
    height: 100vh;
    margin-top: -20px;
}

#ABOUT {
    background: linear-gradient(150deg, #042151,#031024, #01050a);
    text-align: center;
    margin-top: -1px;
    height: 150vh;
    margin-top: -20px;
}

#ABOUT h1{
    padding: 50px;
    color: white;
}

#ABOUT h2{
    color: white;
}

#ABOUT p {
    text-align: center;
    text-align: justify;
    padding: 0 200px;
    color: rgb(255, 255, 255);
}