<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="#FONDO" id="link1">HOME</a></li>
            <li><a href="#BOX-TENDENCIAS" id="link2">TENDENCIAS</a></li>
            <li><a href="#TRACKS-BOX" id="link3">Top Tracks</a></li>
            <li><a href="#ART-CONTENT" id="link4">Top Artists</a></li>
            <li><a href="/perfil" id="link5">MI PERFIL</a></li>
            <li><a href="/logout" id="link6">Cerrar sesión</a></li>
        </ul>        
    </nav>
    <main>
        <section id="BOX-MAIN">
            <div id="FONDO">               
                <div id="TEXTO">
                    <h1>SOUND SMITH</h1>
                    <h2>Crafting sonic experiences</h2>
                </div>   
            </div>
        </section>

        <section id="DT">
            <div id="BOX-TENDENCIAS">
                <h1>TENDENCIAS MUSICALES</h1>
                <div id="HORIZONTAL1" class="horizontal-container">
                    {% for index, playlist in playlists %}
                    {% if index < 8 %}
                    <div id="SECTION{{ index + 1 }}" class="playlist-item">
                        <div class="playlist-box">
                            <a href="{{ playlist.external_urls.spotify }}" target="_blank">
                                <img src="{{ playlist.images[0].url }}" alt="{{ playlist.name }}">
                            </a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                
                </div>
            </div>
        </section>

        <section id="TRACKS-BOX">
            <div id="TRACKS-CONTENT">
                <h1>DESCUBRE TU TOP DE CANCIONES MAS ESCUCHADAS</h1>
                <div id="BOX">
                    <form action="/top_tracks" method="GET">
                        <button type="submit">Ver Top Tracks</button>
                    </form>
                </div>
                <p>Aquí puedes crear y gestionar tus playlists personalizadas. Explora nuestras recomendaciones o crea las tuyas propias para disfrutar de la mejor música adaptada a tu gusto.</p>
            </div>
        </section>

        <section id="ART-BOX">
            <div id="ART-CONTENT">
                <h1>DESCUBRE TU TOP DE ARTISTAS MAS ESCUCHADOS</h1>
                <div id="BOX">
                    <form action="/top_artists" method="GET">
                        <button type="submit">Ver Top Artistas</button>
                    </form>
                </div>
                <p>Aquí puedes crear y gestionar tus playlists personalizadas. Explora nuestras recomendaciones o crea las tuyas propias para disfrutar de la mejor música adaptada a tu gusto.</p>
            </div>
        </section>
    </main>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
          const links = document.querySelectorAll('nav a');
    
          links.forEach(link => {
            link.addEventListener('click', function(event) {
              // Verificamos si el enlace es interno o externo
              if (this.getAttribute('href').startsWith('#')) {
                event.preventDefault();
    
                const targetId = this.getAttribute('href').substring(1);
                const targetSection = document.getElementById(targetId);
                const yOffset = -60; // Ajuste para compensar la barra de navegación
    
                window.scrollTo({
                  top: targetSection.offsetTop + yOffset,
                  behavior: 'smooth'
                });
    
                links.forEach(link => {
                  link.classList.remove('link');
                });
    
                this.classList.add('link');
              }
            });
          });
        });
      </script>
</body>
</html>
