<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Artists</title>
    <link rel="stylesheet" href="/static/recent.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/home">HOME</a></li>
            <li><a href="/tendencias">TENDENCIAS</a></li>
            <li><a href="/top_tracks">Top Tracks</a></li>
            <li><a href="/top_artists" id="link">Top Artists</a></li>
            <li><a href="/perfil" >MI PERFIL</a></li>
            <li><a href="/logout">Cerrar sesión</a></li>
        </ul>        
    </nav>
    
    <main>
        <section id="BOX-MAIN">
            <div class="container">
                <h1>RECIENTEMENTE ESUCHADAS</h1>
                <div class="card-container">
                    {% for track in tracks %}
                    <div class="track">
                        <a href="{{ track['track']['external_urls']['spotify'] }}" target="_blank">
                            <img src="{{ track['track']['album']['images'][0]['url'] }}" alt="{{ track['track']['name'] }}">
                        </a>
                        <div class="track-info">
                            <h2>{{ track['track']['name'] }}</h2>
                            <p>{{ track['track']['artists'][0]['name'] }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>                
        </section>
    </main>
</body>
</html>